In [24]:
import pyodbc 
import pandas as  pandas

In [25]:
# Kết nối tới cơ sở dữ liệu
conn_str = 'DRIVER={ODBC Driver 17 for SQL Server};\
            SERVER=MSI\DUCNAM;\
            DATABASE=my_database;\
            UID=dn;\
            PWD=123456'
conn = pyodbc.connect(conn_str)

In [26]:
cursor = conn.cursor() 
cursor.execute("Select * FROM TblStudent")
data = cursor.fetchall()

In [27]:
Data = pandas.DataFrame(data)

In [28]:
data

[(1, 'DucNam', True, datetime.datetime(2000, 1, 1, 0, 0)),
 (2, 'Sarah', True, datetime.datetime(2001, 5, 10, 0, 0)),
 (3, 'Michael', True, datetime.datetime(2002, 3, 15, 0, 0)),
 (4, 'Emily', True, datetime.datetime(2003, 7, 20, 0, 0)),
 (5, 'David', False, datetime.datetime(2004, 9, 25, 0, 0)),
 (6, 'Jessica', True, datetime.datetime(2005, 11, 30, 0, 0)),
 (7, 'Daniel', False, datetime.datetime(2006, 2, 5, 0, 0)),
 (8, 'Olivia', True, datetime.datetime(2007, 4, 10, 0, 0)),
 (9, 'Matthew', True, datetime.datetime(2008, 6, 15, 0, 0)),
 (10, 'Sophia', True, datetime.datetime(2009, 8, 20, 0, 0)),
 (11, 'HaiYen', False, datetime.datetime(2004, 9, 25, 0, 0)),
 (12, 'Minh Trinh', False, datetime.datetime(2003, 10, 1, 0, 0)),
 (13, 'Dam Giang', True, datetime.datetime(2003, 3, 29, 0, 0)),
 (14, 'Hien', True, datetime.datetime(2003, 10, 1, 0, 0))]

In [29]:
cursor.execute("insert TblStudent values (13,'Dam Giang', 1,'2003-3-29')" )

IntegrityError: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK_TblStudent_StudentID'. Cannot insert duplicate key in object 'dbo.TblStudent'. The duplicate key value is (13). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")

In [30]:
cursor.execute("Delete from TblStudent Where StudentID = 14 ")

In [31]:
conn.commit()
conn.close()

In [ ]:
print(data)

[(1, 'DucNam', True, datetime.datetime(2000, 1, 1, 0, 0)), (2, 'Sarah', True, datetime.datetime(2001, 5, 10, 0, 0)), (3, 'Michael', True, datetime.datetime(2002, 3, 15, 0, 0)), (4, 'Emily', True, datetime.datetime(2003, 7, 20, 0, 0)), (5, 'David', False, datetime.datetime(2004, 9, 25, 0, 0)), (6, 'Jessica', True, datetime.datetime(2005, 11, 30, 0, 0)), (7, 'Daniel', False, datetime.datetime(2006, 2, 5, 0, 0)), (8, 'Olivia', True, datetime.datetime(2007, 4, 10, 0, 0)), (9, 'Matthew', True, datetime.datetime(2008, 6, 15, 0, 0)), (10, 'Sophia', True, datetime.datetime(2009, 8, 20, 0, 0)), (11, 'HaiYen', False, datetime.datetime(2004, 9, 25, 0, 0)), (12, 'Minh Trinh', False, datetime.datetime(2003, 10, 1, 0, 0)), (14, 'Hien', True, datetime.datetime(2003, 10, 1, 0, 0))]